<!doctype html>
<html>
<head>
    <% include head  %>

          <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.min.css">
    <link href="public/stylesheets/twitterFeedstyle.css" rel="stylesheet"/>

    <script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,
            paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},
            atok:"bff64cc1fe9ff1bc2afc0e4da08ddcc3",
            petok:"29371c34fae659c5582f30ce1169892cf938387b-1472071097-1800",
            zone:"designbootstrap.com",
            rocket:"a",apps:{},sha2test:0}];
            document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=0489c402f5/cloudflare.min.js"><'+'\/script>');}}catch(e){};
        //]]>
    </script>
    <script src="/public/javascripts/helperFunctions/ajaxServer.js"> </script>
</head>
<!-- CSS -->
<style>
    div.container{
        margin-top: 100px;
    }
</style>
<!-- end CSS-->

<body>
        <div class="topContent" style="align-content: center">
            <a class = "btn btn-default" href ="/IMDB250" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 30px">IMDB250</a>
            <a class = "btn btn-default" href ="/IMDB250" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">HINDI100</a>
            <a class = "btn btn-default" href ="/IMDB250" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">HOME</a>
            <%  if (!sessionVal.cognitoId){ %>
            <a class = "btn btn-default" href ="/login" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">LOGIN</a>
            <%} else{ %>
            <a class = "btn btn-default" href ="/logout" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">LOGOUT</a>
            <h3  style="color:#b2406a; float: right; margin-top: 20px;margin-right: 10px">Hello <%= sessionVal.name %></h3>
            <% } %>
            <h1 style="padding-left: 270px"> <%= thisMovie.title %> ( <%= thisMovie.year %> ) </h1>
            <img src=" <%= thisMovie.backdropPath %>  "style="align-content: center ; padding-left: 270px">
        </div>
        <div class="commentBox" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                        <div class="twt-wrapper" style="background-color: #b2406a">
                            <div class="panel panel-info" style="border-color:#b2406a ">
                                <div class="panel-heading" style="background-color: #FFFFFF;color:#b2406a">
                                    <h3> Describe "<%= thisMovie.title %>" in 100 chars... </h3>
                                </div>
                                <div class="panel-body">
                                    <textarea class="form-control" id="comment-post" placeholder="Write here..." rows="3"></textarea>
                                    <br />
                                    <button type="submit" class="btn btn-default pull-right" style="background-color: #b2406a" onclick="sendToServer()">Submit</button>
                                    <div class="clearfix"></div>
                                    <strong> <hr /> </strong>
                                    <ul class="media-list">

                                        <% for(var i = 0 ; i < comments.length  ;i++ ){%>

                                        <li class="media">
                                            <a href="#" class="pull-left">
                                                <img src="assets/img/1.png" alt="" class="img-circle">
                                            </a>
                                            <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">30 min ago</small>
                                        </span>
                                                <strong class="text-success"> <%=comments[i].username %></strong>
                                                <p style="font-size: medium">
                                                    <%= comments[i].body %>
                                                </p>
                                            </div>
                                            <button type="submit" class="btn btn-default pull-right" style="background-color: #b2406a" onclick="">Edit</button>
                                        </li>
                                        <hr />
                                        <%}%>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- TWEET WRAPPER END -->
                    </div>
                </div>
            </div>
        </div>
</div>
        <script src="/public/javascripts/ajaxXmlHttp.js"> </script>
        <script type="text/javascript">

            function sendToServer() {

                var path = "http://127.0.0.1:8080/IMDB250/ajax"
                comment = $("#comment-post").val();
                console.log("Comment posted is: " + comment);
                var movieId = <%- JSON.stringify(thisMovie.id) %>
                        console.log("movie id is: "+movieId);

                $.ajax({
                    url: path,
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({"comment": comment,"movieId":movieId}),
                    contentType: "application/json",
                    cache: false,
                    async: false,
                    timeout: 500,
                    complete: function () {
                        //called when complete
                        console.log('process complete');
                    },

                    success: function (comment) {
                        console.log(comment);
                        console.log('process sucess');
                    },

                    error: function () {
                        console.log('process error');
                    },
                });

            }


        </script>
</body>



</html>