<!doctype html>
<html>
<head>
    <% include head  %>

          <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.min.css">
    <link href="public/stylesheets/twitterFeedstyle.css" rel="stylesheet"/>

    <script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,
            paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},
            atok:"bff64cc1fe9ff1bc2afc0e4da08ddcc3",
            petok:"29371c34fae659c5582f30ce1169892cf938387b-1472071097-1800",
            zone:"designbootstrap.com",
            rocket:"a",apps:{},sha2test:0}];
            document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=0489c402f5/cloudflare.min.js"><'+'\/script>');}}catch(e){};
        //]]>
    </script>
    <script src="/public/javascripts/helperFunctions/AjaxCommunicate.js"> </script>
</head>
<!-- CSS -->
<style>
    div.container{
        margin-top: 100px;
    }
</style>
<!-- end CSS-->

<body>
        <div class="topContent" style="align-content: center">
            <a class = "btn btn-default" href ="/IMDB250" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 30px">IMDB250</a>
            <a class = "btn btn-default" href ="/IMDB250" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">HINDI100</a>
            <a class = "btn btn-default" href ="/IMDB250" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">HOME</a>
            <%  if (!sessionVal.cognitoId){ %>
            <a class = "btn btn-default" href ="/login" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">LOGIN</a>
            <%} else{ %>
            <a class = "btn btn-default" href ="/logout" style="background-color: #b2406a; float: right; margin-top: 20px;margin-right: 10px">LOGOUT</a>
            <h3  style="color:#b2406a; float: right; margin-top: 20px;margin-right: 10px">Hello <%= sessionVal.name %></h3>
            <% } %>
            <h1 style="padding-left: 270px"> <%= thisMovie.title %> ( <%= thisMovie.year %> ) </h1>
            <img src=" <%= thisMovie.backdropPath %>  "style="align-content: center ; padding-left: 270px">
        </div>
        <div class="commentBox" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                        <div class="twt-wrapper" style="background-color: #b2406a">
                            <div class="panel panel-info" style="border-color:#b2406a ">
                                <div class="panel-heading" style="background-color: #FFFFFF;color:#b2406a">
                                    <h3> Describe "<%= thisMovie.title %>" in 100 chars... </h3>
                                </div>
                                <div class="panel-body">

                                    <% if(Object.keys(thisComment).length == 0 && !isEdit) {%>
                                    <div id="submit-text">
                                        <textarea class="form-control" maxLength="100" id="comment-post" placeholder="Write here..." rows="3"></textarea>
                                        <h1 id = "rem"> </h1>
                                    </div>
                                    <br />
                                    <% if(sessionVal.cognitoId){%>
                                    <button type="submit" class="btn btn-default pull-right" style="background-color: #b2406a" onclick="sendToServer()">Submit</button>
                                    <% }else{%>
                                    <button type="submit" class="btn btn-default pull-right" style="background-color: #b2406a" onclick="saveData()">Submit</button>
                                    <%}%>

                                    <%}else if(isEdit){%>
                                    <div id="submit-text">
                                        <textarea class="form-control" maxLength="100" id="comment-post"  rows="3"><%= thisComment.body %></textarea>
                                        <h1 id = "rem"> </h1>
                                    </div>
                                    <button type="submit" class="btn btn-default pull-right" style="background-color: #b2406a" onclick="sendToServer()">Submit</button>

                                    <%}else {%>
                                    <a href="#" class="pull-left">
                                    </a>
                                    <div id = "editable-post" class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted"><%=thisComment.currTime %></small>
                                        </span>
                                        <strong class="text-success"> <%=thisComment.username %></strong>
                                        <p style="font-size: medium">
                                            <%= thisComment.body %>
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-default pull-right" style="background-color: #b2406a" onclick=changeEditToSend()>Edit</button>
                                    <%}%>

                                    <div class="clearfix"></div>
                                    <strong> <hr /> </strong>
                                    <ul class="media-list">

                                        <% for(var i = 0 ; i < comments.length  ;i++ ){%>
                                         <% if(comments[i]._id == sessionVal.cognitoId) continue;%>
                                        <li class="media">
                                            <a href="#" class="pull-left">
                                            </a>
                                            <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted"><%= comments[i].currTime %></small>
                                        </span>
                                                <strong class="text-success"> <%=comments[i].username %></strong>
                                                <p style="font-size: medium">
                                                    <%= comments[i].body %>
                                                </p>
                                            </div>
                                        </li>
                                        <hr />
                                        <%}%>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- TWEET WRAPPER END -->
                    </div>
                </div>
            </div>
        </div>
</div>
        <script src="/public/javascripts/ajaxXmlHttp.js"> </script>
        <script type="text/javascript">

            $(document).ready(function() {

                if(localStorage.getItem("isLogin")){
                    $("#comment-post").val(localStorage.getItem("beforeLogin"));
                    delete localStorage.isLogin;
                }
            })
            $('#comment-post').keyup(
                    function(){
                           var diff = $(this).attr('maxLength') - this.value.length;
                           if(diff > 10){
                            $('#rem').html(diff);
                               $('#rem').css({'color':'green'});
                            }
                            else if(diff <= 10 && diff > 5){
                                $('#rem').html(diff);
                                $('#rem').css({'color':'orange'});
                            }
                            else if(diff <= 5 && diff >= 0){
                                $('#rem').html(diff);
                                $('#rem').css({'color':'red'});
                            }
                            else if(diff < 0){
                                $('#rem').html("-" +diff);
                                $('#rem').css({'color':'red'});
                            }
            });

            function changeEditToSend(){
                var comment = $("#editable-post").val();
                var base = "www.muvi1line.com";
                console.log(base);
                var path = "/ajaxEdit";
                //var path = "http://127.0.0.1:3000/IMDB250/ajaxEdit"
                var movieId = <%- JSON.stringify(thisMovie.id) %>
                AjaxCommunicate(path,comment,movieId);
            }
            function sendToServer() {
                var base = "www.muvi1line.com";
                console.log(base);
                var path ="/ajax";
                console.log(path);
                var comment = $("#comment-post").val();
                console.log("Comment posted is: " + comment);
                 var movieId = <%- JSON.stringify(thisMovie.id) %>
                         AjaxCommunicate(path,comment,movieId);
            }

            function saveData(){
                console.log("In saveData")
                var comment = $("#comment-post").val();
                localStorage.setItem("beforeLogin",comment);
                localStorage.setItem("isLogin",true);
                window.location.replace("http://127.0.0.1:8080/login");
            }


        </script>
</body>



</html>